#login {
	margin: auto;
	position: absolute;
	top: 15%;
	left: 33%;
}

.scrollList {
	height: 182px;
    border: 1px solid rgba(255,255,255,0.15);
}

.scrollList a{
    border: none;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.routeMap {
	height: 500px;
	margin-bottom: 15px;
}

.routeMapEdit {
	height: 450px;
}

.mapModal {
	width: 95%;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	    background: none !important;
		color: white;
}


.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    /* we have to use !important because we are overwritng inline styles */
    background-color: rgba(227, 227, 227, 0.52) !important;
    
  
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
{
    background-color: rgba(227, 227, 227, 0.52) !important; 
	box-shadow: none !important;
}

.toolBar {
	position: absolute;
	top: 30px;
	left: 95%;
	height: 31px;
	z-index: 10;
}

.toolIcon {
	float: right;
	box-sizing: content-box;
}

.toolIconBG {
	background-image: url(../img/map/up.png);
	width: 36px;
	height: 36px;
	float: left;
}

.toolIconBG:hover {
	background-image: url(../img/map/selected.png);
}

.tool {
	width: 31px;
	height: 31px;
	cursor: pointer;
	margin-left: 3px;
	margin-top: 3px;
}

.toolDrag {
	background-image: url(../img/map/drag.png);
}

.toolLine {
	background-image: url(../img/map/line.png);
}

.toolCurve {
	background-image: url(../img/map/scribble.png);
}

.toolEraser {
	background-image: url(../img/map/eraser.png);
}

.toolUndo {
	background-image: url(../img/map/arrow_undo.png);
}

.toolRedo {
	background-image: url(../img/map/arrow_redo.png);
}

.toolClear {
	background-image: url(../img/map/clear.png);
}

.toolMarker {
	background-image: url(../img/map/marker.png);
}

.bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.bootstrap-colorpalette div {
    line-height:0;
}

.bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}

.palette {
  position: absolute;
  min-width: 144px;
  top: 100%;
  left: 63%;
  z-index: 1000;
  display: none;
  min-width: 146px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background: rgba(3, 0, 0, 0.38);
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.w100 {
	width: 100%;
}

.w200 {
	width: 200px !important;
	border-color: rgba(255, 255, 255, 0.3);
}

.h30 {
	height: 30px !important;
}

.h31 {
	height: 31px;
	padding-top: 9px;
}

.w420 {
	width: 420px;
}


.w88 {
	width: 87.6%;
	float: left;
}

.left {
	float: left !important;
	line-height: 23px;
}

.routeMap img {
	max-width: none;
}

.routeMapEdit img {
	max-width: none;
}

#infowindow {
	color: black;
}