#login {
	margin: auto;
	position: absolute;
	top: 15%;
	left: 33%;
}

.scrollList {
	height: 182px;
    border: 1px solid rgba(255,255,255,0.15);
}

.scrollList a{
    border: none;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.routeMap {
	height: 500px;
	margin-bottom: 15px;
}

.routeMapEdit {
	height: 450px;
}

.mapModal {
	width: 95%;
}

.toolBar {
	position: absolute;
	top: 30px;
	left: 95%;
	height: 31px;
	z-index: 10;
}

.toolIcon {
	float: right;
	box-sizing: content-box;
}

.toolIconBG {
	background-image: url(../img/map/up.png);
	width: 36px;
	height: 36px;
	float: left;
}

.toolIconBG:hover {
	background-image: url(../img/map/selected.png);
}

.tool {
	width: 31px;
	height: 31px;
	cursor: pointer;
	margin-left: 3px;
	margin-top: 3px;
}

.toolDrag {
	background-image: url(../img/map/drag.png);
}

.toolLine {
	background-image: url(../img/map/line.png);
}

.toolCurve {
	background-image: url(../img/map/scribble.png);
}

.toolEraser {
	background-image: url(../img/map/eraser.png);
}

.toolUndo {
	background-image: url(../img/map/arrow_undo.png);
}

.toolRedo {
	background-image: url(../img/map/arrow_redo.png);
}

.toolClear {
	background-image: url(../img/map/clear.png);
}

.toolMarker {
	background-image: url(../img/map/marker.png);
}